name: Release
on:
  push:
    tags:
      - '*'
jobs:
  release-spec:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Where are we?
      id: vars
      run: |
        echo ::set-output name=tag::${GITHUB_REF#refs/*/}
        echo ::set-output name=repo::$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')
    - name: Install
      run: npm ci
    - name: Build
      run: npm run build
    - name: Release spec to GitHub Releases
      uses: softprops/action-gh-release@v1
      with:
        files: build/apispec.yaml
  release-ghcr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Where are we?
      id: vars
      run: |
        echo ::set-output name=tag::${GITHUB_REF#refs/*/}
        echo ::set-output name=repo::$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')
    - name: Log-in
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}
    - name: Dockerize
      run: docker build -t ghcr.io/${{ steps.vars.outputs.repo }}:${{ steps.vars.outputs.tag }} .
    - name: Publish Container
      run: docker push ghcr.io/${{ steps.vars.outputs.repo }}:${{ steps.vars.outputs.tag }}
  deploy-azure:
    runs-on: ubuntu-latest
    needs: release-ghcr
    steps:
    - uses: actions/checkout@v2
    - name: Where are we?
      id: vars
      run: |
        echo ::set-output name=tag::${GITHUB_REF#refs/*/}
        echo ::set-output name=repo::$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Deploy to Azure
      uses: 'azure/aci-deploy@v1'
      with:
        name: rosa-back-central
        resource-group: ${{ secrets.RESOURCE_GROUP }}
        dns-name-label: rosa-central-back
        image: ghcr.io/${{ steps.vars.outputs.repo }}:${{ steps.vars.outputs.tag }}
        location: 'west europe'
        restart-policy: OnFailure
        ports: 3060
        registry-login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        registry-username: ${{ secrets.REGISTRY_USERNAME }}
        registry-password: ${{ secrets.REGISTRY_PASSWORD }}
        environment-variables:
          SETTINGS: ${{secrets.AZ_SETTINGS}}
